<?xml version="1.0" ?>
<model>
    <name>simple_room</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Andreas Bresser</name>
        <email>Andreas.Bresser@dfki.de</email>
    </author>
    <description>simple squared room with big open entrance</description>
</model>
